/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: exo-lightitalic-webfont;
  src: url(../../assets/fonts/exo-lightitalic-webfont.ttf);
}

@font-face {
  font-family: exo-light-webfont;
  src: url(../../assets/fonts/exo-light-webfont.ttf);
}

@font-face {
  font-family: exo-mediumitalic-webfont;
  src: url(../../assets/fonts/exo-mediumitalic-webfont.ttf);
}

@font-face {
  font-family: exo-medium-webfont;
  src: url(../../assets/fonts/exo-medium-webfont.ttf);
}