/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

textarea {
	padding-left: 3px;
	width: 100%;
}


//home page
.get-quote-button {
	font-family: exo-light-webfont;
	border-radius: 3px;
	font-weight: 700;
	line-height: 1;
	border: 2px solid #0c0;
	background-color: #222;
	align-self: center;
	font-size: 1.25rem;
	padding: .75rem 2.25rem;

	&:focus {
		border: 2px solid #0c0;
	}
}

//submit a quote page
.submit-a-quote {

	p {
		font-family: exo-light-webfont;
		margin-bottom: 10px;
    margin-top: 25px;
	}
	
	input {
		border: 1px solid $color__border-abbr;
		border-radius: 2px;
		background-color: $color__background-body;
		width: 60%;
		color: white;
	}

	textarea {
		border: 1px solid $color__border-abbr;
		border-radius: 2px;
		background-color: $color__background-body;
		height: 80px;
		color: white;
	}

	.submit-button {
		font-family: exo-light-webfont;
		border-radius: 2px;
		width: 30%;
		padding: 10px;
		font-weight: 800;
		color: $color__link;

		&:hover {
			border: 1px solid $color__link-hover;
			color: $color__link-hover;
		}
	}
}

//search form
.search-form {
	border: none;
	
	fieldset {
		border: none;
		padding: 0;
		margin: 0;

		input {
			background-color: #222;
			border: 2px solid #0c0;
			border-radius: 3px;
			color: #fff;
			margin-bottom: 1.5rem;
			padding: .25rem .5rem;
			line-height: 1.5;
			font-family: exo-light-webfont;
			font-size: 1.25rem;
			width: 240px;

			&[type=text]:focus {
				border: 2px solid #fff;
			}
		}

		input[type=text]:focus {
			border: 2px solid #fff;
		}

		button {
			font-size: 1.25rem;
			border: 0;
			background-color:  #222;
			position: absolute;
			
			i {
				padding-top: 0.8rem;
				padding-left: 0.3rem;
			}
		}
	}
}
